<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (locals.error) { %>

    <h3>ERROR <%= status %></h3>
    <h4><%= error.message %></h4>
    <h5><%= error.stack %></h5>
    <% } else { %>
    <h1>ERROR</h1>
    <% } %>
  </body>
</html>
